div {
    alignment-adjust: left;
    border: 1px solid;
    display: inline-block;
    width: 350px;
    height: 100%;
}
img {
    width: 200px;
    height: 100px;
    margin-left: 20px;
    margin-right: 80%;
}